@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: #eaeaea;
}

@layer components {
    .header {
        @apply text-black font-semibold text-center text-xl mb-3 pb-3 m-auto;
    }

    .header::after {
        content: '';
        display: block;
        width: 55px;
        height: 3px;
        background: rgb(168 85 247);
        left: 0;
        right: 0;
        margin: 10px auto 0px auto;
    }
}